<!DOCTYPE html>
<html>
<head>
    <title>Módulo Epidemiológico</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
</head>
<body>

<div class="sidebar">
    <div class="menu-toggle" onclick="toggleSidebar()">
    ☰
</div>
    <div class="sidebar-logo">
        <img src="/static/img/logo.png" alt="Logo">
        <span>HOSPITAL SJDP</span>
    </div>
    <a href="/dashboard">
    <span class="icon">⌂</span>
    <span class="menu-text">Inicio</span>
</a>

<a href="/indicadores">
    <span class="icon">⧟</span>
    <span class="menu-text">Indicadores</span>
</a>

<a href="/epidemiologia">
    <span class="icon">☣</span>
    <span class="menu-text">Epidemiológico</span>
</a>

<a href="/personal">
    <span class="icon">♙</span>
    <span class="menu-text">Desempeño</span>
</a>

<a href="/importacion">
    <span class="icon">⇪</span>
    <span class="menu-text">Importación</span>
</a>

<a href="/logout" class="logout-btn">
    <span class="icon">⇥</span>
    <span class="menu-text">Cerrar sesión</span>
</a>
</div>

<div class="main">
    <h1>Módulo Epidemiológico</h1>

    <div class="cards">
        {% for item in resumen %}
        <div class="card">
            <h3>{{ item.enfermedad }}</h3>
            <p>{{ item.total_casos }}</p>
        </div>
        {% endfor %}
    </div>

    <h2 class="section-title">Listado de diagnósticos epidemiológicos</h2>

    <input 
        type="text" 
        class="search-input" 
        id="buscadorEpidemiologia"
        placeholder="Buscar diagnóstico..."
        onkeyup="filtrarEpidemiologia()"
    >

    <table id="tablaEpidemiologia">
        <thead>
            <tr>
                <th>Diagnóstico</th>
                <th>Total de casos</th>
            </tr>
        </thead>

        <tbody>
            {% for caso in casos %}
            <tr>
                <td>{{ caso.enfermedad }}</td>
                <td>{{ caso.total_casos }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
function filtrarEpidemiologia() {
    let input = document.getElementById("buscadorEpidemiologia");
    let filtro = input.value.toLowerCase();
    let tabla = document.getElementById("tablaEpidemiologia");
    let filas = tabla.getElementsByTagName("tr");

    for (let i = 1; i < filas.length; i++) {
        let textoFila = filas[i].textContent.toLowerCase();

        if (textoFila.includes(filtro)) {
            filas[i].style.display = "";
        } else {
            filas[i].style.display = "none";
        }
    }
}
</script>

<script src="/static/js/app.js"></script>

</body>
</html>