<!DOCTYPE html>
<html>
<head>
    <title>Módulo Epidemiológico</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
</head>
<body>

<div class="sidebar">
    <div class="menu-toggle" onclick="toggleSidebar()">
    ☰
</div>
    <div class="sidebar-logo">
        <img src="/static/img/logo.png" alt="Logo">
        <span>HOSPITAL SJDP</span>
    </div>
    <a href="/dashboard">
    <span class="icon">⌂</span>
    <span class="menu-text">Inicio</span>
</a>

<a href="/indicadores">
    <span class="icon">⧟</span>
    <span class="menu-text">Indicadores</span>
</a>

<a href="/epidemiologia">
    <span class="icon">☣</span>
    <span class="menu-text">Epidemiológico</span>
</a>

<a href="/personal">
    <span class="icon">♙</span>
    <span class="menu-text">Desempeño</span>
</a>

<a href="/importacion">
    <span class="icon">⇪</span>
    <span class="menu-text">Importación</span>
</a>

<a href="/logout" class="logout-btn">
    <span class="icon">⇥</span>
    <span class="menu-text">Cerrar sesión</span>
</a>
</div>

<div class="main">
    <h1>Módulo Epidemiológico</h1>

    <div class="cards">
        {% for item in resumen %}
        <div class="card">
            <h3>{{ item.enfermedad }}</h3>
            <p>{{ item.total_casos }}</p>
        </div>
        {% endfor %}
    </div>

    <h2 class="section-title">Listado de casos registrados</h2>

    <table>
        <thead>
            <tr>
                <th>Enfermedad</th>
                <th>Cantidad de casos</th>
                <th>Área</th>
                <th>Fecha</th>
                <th>Observación</th>
            </tr>
        </thead>
        <tbody>
            {% for caso in casos %}
            <tr>
                <td>{{ caso.enfermedad }}</td>
                <td>{{ caso.cantidad_casos }}</td>
                <td>{{ caso.area }}</td>
                <td>{{ caso.fecha_registro }}</td>
                <td>{{ caso.observacion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<script src="/static/js/app.js"></script>
</body>
</html>