<!DOCTYPE html>
<html>
<head>
    <title>Desempeño del Personal</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
</head>
<body>

<div class="sidebar">
    <div class="menu-toggle" onclick="toggleSidebar()">
    ☰
</div>
    <div class="sidebar-logo">
        <img src="/static/img/logo.png" alt="Logo">
        <span>sistemaHosp</span>
    </div>
    <a href="/dashboard">
    <span class="icon">⌂</span>
    <span class="menu-text">Inicio</span>
</a>

<a href="/indicadores">
    <span class="icon">⧟</span>
    <span class="menu-text">Indicadores</span>
</a>

<a href="/epidemiologia">
    <span class="icon">☣</span>
    <span class="menu-text">Epidemiológico</span>
</a>

<a href="/personal">
    <span class="icon">♙</span>
    <span class="menu-text">Desempeño</span>
</a>

<a href="/importacion">
    <span class="icon">⇪</span>
    <span class="menu-text">Importación</span>
</a>

<a href="/logout" class="logout-btn">
    <span class="icon">⇥</span>
    <span class="menu-text">Cerrar sesión</span>
</a>
</div>

<div class="main">

    <h1>Desempeño del Personal</h1>

    <div class="cards">

        <div class="card">
            <h3>Personal Activo</h3>
            <p>{{ personal_activo }}</p>
        </div>

    </div>

    <h2 class="section-title">
        Evaluación del Personal
    </h2>

    <table>

        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cargo</th>
                <th>Área</th>
                <th>Fecha</th>
                <th>Asistencia</th>
                <th>Atenciones</th>
                <th>Cumplimiento</th>
            </tr>
        </thead>

        <tbody>

            {% for empleado in personal %}

            <tr>
                <td>{{ empleado.nombres }}</td>
                <td>{{ empleado.cargo }}</td>
                <td>{{ empleado.area }}</td>
                <td>{{ empleado.fecha }}</td>
                <td>{{ empleado.asistencia }}</td>
                <td>{{ empleado.atenciones_realizadas }}</td>
                <td>{{ empleado.cumplimiento }}</td>
            </tr>

            {% endfor %}

        </tbody>

    </table>
    <h2 class="section-title">Gráfico de Atenciones</h2>

<div class="charts-container">
    <div class="chart-card">
        <h3>Atenciones realizadas por personal</h3>
        <canvas id="graficoPersonal"></canvas>
    </div>
</div>

</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const nombresPersonal = JSON.parse('{{ nombres_personal | tojson | safe }}');
    const atencionesPersonal = JSON.parse('{{ atenciones_personal | tojson | safe }}');
</script>

<script src="/static/js/personal.js"></script>

<script src="/static/js/app.js"></script>
</body>
</html>